<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  body
    #root
    script.
      const INITIAL_PAGE = "#{initialPage}";
      const DEFAULT_PATH = "#{locationPath}"
    script(src="/dist/client.js")